/* General styling */
body {
    margin: 0;
    overflow: hidden;
    background-color: black; /* Fallback background */
  }
  
  #starfieldCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send canvas to the background */
  }
  